<!-- <h1> {{title}}</h1> -->
<br><br>
<div>
	<label><b>Agregar usuario </b>Nombre:</label> <input #userName />
	<label>Apellido:</label> <input #userAp />
  <label>Usr:</label> <input #user />


	<button (click)="add(userAp.value, userName.value, user.value); userName.value=''; user.value=''; userAp.value=''">
		Agregar
	</button>
</div>
<h2> Lista de usuarios </h2> 
  <ul class="users">
    <li *ngFor="let user of usuarios" [class.selected]="user === selectedUser" (click)="onSelect(user)">
      <span class="badge">{{user.id}}</span> {{user.nombre}} {{user.apellido}}
      <button class="delete"
        (click)="delete(user); $event.stopPropagation()">x</button>
    </li>
  </ul>

<div *ngIf="selectedUser">
  <h2>
    Usuario: {{selectedUser.usr | uppercase}} seleccionado
  </h2>
  <button (click)="gotoDetail()">Ver detalles</button>
</div>
<!-- <user-detail [user]="selectedUser"> </user-detail> -->